[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
langchain-google-genai = "~=2.0.8"
langchain-core = "~=0.3.29"
black = "*"
requests = "~=2.32.3"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
